{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'basestyle.css' %}?{% now "U" %}">

<header class="navbar">
    <div class="container">
        <a href="{% url 'car:car_list' %}" class="logo">Магазин Авто</a>
        <nav>
            <ul class="nav-links">
                {% if user.is_authenticated %}
                <li><a href="{% url 'cart:cart_view' %}">Корзина</a></li>
                <li><a href="{% url 'user:profile' %}">Профиль</a></li>
                <li><a href="{% url 'user:logout' %}" class="logout-btn">Выйти ({{ user.username }})</a></li>
                {% else %}
                <li><a href="{% url 'user:login' %}" class="login-btn">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

