{% extends "shop/base.html" %}
{% load static %}
{% block content %}

<h2>Корзина</h2>
<ul>
    {% for item in cart.items.all %}
    <li>
        {{ item.car.model.brand.name }} {{ item.car.model.name }} - {{ item.quantity }} шт.
        <a href="{% url 'remove_from_cart' item.id %}">Удалить</a>
    </li>

    <div class="car-card">
        {% if car.images.all %}
        <img src="{{ item.car.images.first.image.url }}" alt="{{ item.car.model }}" class="car-image">
        {% else %}
        <img src="{% static 'images/no-image.png' %}" alt="Нет фото" class="car-image">
        {% endif %}

        <div class="car-info">
            <h2 class="car-title">
                {{ item.car.model.brand.name }} {{ item.car.model.name }}, {{ item.car.year }}
            </h2>
            {% if car.is_new %}
                <p>Количество: {{ item.quantity }} шт.</p>
            {% endif %}

            
        </div>
        <div class = "car-price">
            <p class="price">{{ shop.cart.get_item_price }} ₽</p>
        </div>  
        <a href="{% url 'remove_from_cart' item.id %}">Удалить</a>    
    </div>

    {% endfor %}
</ul>
<p>Общая сумма: {{ shop.get_total_price }} ₽</p>
<a href="{% url 'checkout' %}">Оформить заказ</a>
{% endblock %}
